.parallax-z .panels-flexible-region {
  padding: 0;
}

.parallax-z .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.parallax-z .panels-flexible-region-inside-first {
  padding-left: 0;
}

.parallax-z .panels-flexible-region-inside-last {
  padding-right: 0;
}

.parallax-z .panels-flexible-column {
  padding: 0;
}

.parallax-z .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.parallax-z .panels-flexible-column-inside-first {
  padding-left: 0;
}

.parallax-z .panels-flexible-column-inside-last {
  padding-right: 0;
}

.parallax-z .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.parallax-z .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-parallax-z-main {
  float: left;
  width: 99.0000%;
}

.parallax-z-inside {
  padding-right: 0px;
}

.parallax-z {
  width: auto;
}

.panels-flexible-region-parallax-z-info_ {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-parallax-z-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-parallax-z-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-parallax-z-main-row-inside {
  padding-right: 0px;
}

